# for loop

In [1]:
subjects = ["ai","science","data","ml"]
for x in subjects:
    print(x)

ai
science
data
ml

In [5]:
#problem 01
for i in range(-100,-10,1):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [6]:
for i in range (1, 10, 2):
    print(i)

1
3
5
7
9

In [8]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total + x
   #print(total,x)
print(total)

301

In [3]:
data = 'i love data science so much'
data = data.split()
for i in range(len(data)):
    print(data[i],i)

i 0
love 1
data 2
science 3
so 4
much 5

# While loop

In [2]:
i = 0
while (i <= 10):
    print(i,'Hello')
    i += 1

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [4]:
data = 'python'
i = 0
while i<len(data):
    print(data[i])
    i = i + 1

p
y
t
h
o
n

In [5]:
data = 'i love data science so much'
i = 0
while i<len(data):
    print(data[i])
    i = i + 1

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [6]:
data = 'i love data science so much'
data = data.split()
i = 0
while i<len(data):
    print(data[i])
    i = i + 1

i
love
data
science
so
much

In [5]:
n = [2,3,4,55,60,77,100]
total = 0
i = 0
while(i<len(n)):
    total = total + n[i]
    print(i,total)
    i += 1

0 2
1 5
2 9
3 64
4 124
5 201
6 301

# Nested loop

In [23]:
rows = 4
#outer loop
for x in range(1,rows+1):
    #inner loop
    for y in range(1,x+1):
        print('#',end = ' ')
    print('')

#
# #
# # #
# # # #